#links{
    margin-right: 1rem;
}
.header-links li{
    float: left;
    margin: 1rem;
    list-style: none;
}
a{
    color: orange;
    text-decoration: none;
    font-size: larger;
}
.head img{
    margin-left: 3rem;
}
.search-container{
    margin: 1rem;
    float: right;
    background: #e19154;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
  }
#searchimg{
    width: 1rem;  
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 3px;

}